<div class="app-container">
        <!-- begin app-main -->
        <div class="app-main">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mb-2">
                        <div class="alert alert-warning alert-icon" role="alert">
                            <i class="fa fa-info-circle"></i> Vous n'êtes pas autoriser à voir cette page.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>