{% extends 'base/main.html'%}
{% load static %}
{% block title %} Liste vente sur facture {% endblock %}


{% block nave%}
    {% include 'base/nav-bar.html' %}
{% endblock nave%}

{% block content%}

{% if user.is_authenticated %}
<!-- begin app -->
<div class="app-container">
    <!-- begin app-main -->
    <div class="app-main" id="main">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            {% include 'base/message.html'%}
             <h2>Change password</h2>
            <div class="card-body" style="height: auto">
                <div class="table">
                    <div class="row">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-8">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Mot de passe actuel <span style="color:red;">*</span>: </label>
                                        {{form.old_password}}
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label> Nouveau Mot de passe <span style="color:red;">*</span>: </label>
                                        {{form.new_password1}}
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label> Confirmer Mot de passe <span style="color:red;">*</span>: </label>
                                        {{form.new_password2}}
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="submit" class="btn btn-primary" name="change_password" >Changer Mot de Passe</button>
                                    </div>
                                    <div class="col-lg-6">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end app-main -->
</div>
<!-- end app -->
{% else %}
    {% include 'base/message_page.html' %}
{% endif %}
{% endblock %}