{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recu</title>
    <style>
        @page{
        size: 80mm 200mm; /* taille du papier */
			margin: 0;
			padding: 0;
        }
        body {
			font-family: Arial, sans-serif;
			font-size: 12px;
			line-height: 1.5;
			margin: 0;
			padding: 0;
			background-color: #fff;
			color: #000;
			text-align: center;
		}
        i{
            font-size: 12px;
        }
        .thead-light th{
            color:#495057;
            background-color:#e9ecef;
            border-color:#dee2e6;
            width:auto;

        }

    </style>
</head>
<body onload="printandclose()">

<div class="row">
    <div class="col-xl-4">
        <div class="card">
                <div class="card-body " >
                <div>
                    <img style="height:70px; width: 330px ;border:0px; " src="http://127.0.0.1:8000/media/image/index_irA1Vmv.jpg"><br>
                    <span style="font-size:20px;" > <b>Cave Shalom'Com & events</b></span>
                    <br> <span style="font-size:15px;">sis à faya près du super marché bon prix</span>
                    <br> <span style="font-size:12px;">tel: 07-87-68-36-09</span>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-4">
                                 <span> N° Facture </span>: <span>{{facture_obj}}</span>
                            </div>
                            <div class="col-lg-4">
                                <span>Client</span> : <span>{{client}}</span>
                            </div>
                            <div class="col-lg-4">
                                <span>Date</span> : <span>{{date|date:'d-m-y H:i:s'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <center>
                    <div>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="th_produit">Produit</th>
                            <th scope="col">qté * P.U</th>
                            <th scope="col">T.U</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for vente_sur_facture in vente_sur_factures %}
                        <tr>
                            <th scope="row"> {{vente_sur_facture.id}}</th>
                            <td>{{vente_sur_facture.type_emballage}}</td>
                            <td>{{vente_sur_facture.quantite_vente}} * {{vente_sur_facture.type_emballage.prix_vente}}</td>
                            <td>{{vente_sur_facture.total_unitaire}}</td>
                        </tr>
                    {% endfor %}
                    {% if total_global > 0 %}
                    <thead class="thead-light">
                        <tr>
                            <th colspan="2" > <span >Total</span> </th>
                            <th colspan="3"> {{ total_global }}</th>
                        </tr>
                        <tr >
                            <th colspan="2" > <span >Montant reçu</span> </th>
                            <th colspan="3"> {{ somme_recu }}</th>
                        </tr>
                        <tr>
                            {%if somme_recu >= total_global %}
                                <th colspan="2" > <span >Monnaie Rendue </span></th>
                                <th colspan="3"> {{ monnaie }}</th>
                            {%else%}
                                <th colspan="2" > <span >Créance</span></th>
                                <th colspan="3"> {{ monnaie }}</th>
                            {%endif%}


                        </tr>
                    </thead>
                    {% endif %}
                    </tbody>
                </table>
            </div>
                </center>
                <div>
                   <i>les marchandises vendues ne sont ni echangés ni reprises.<br>merci et à bientôt.</i>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
		function printandclose(){
			window.print();
			window.close();
		}
	</script>
</body>
</html>