{% extends 'base/main.html'%}
{% load static %}
{% block title %} Liste-Clients{% endblock %}


{% block nave%}
    {% include 'base/nav-bar.html' %}
{% endblock nave%}

{% block content%}

{% if user.is_staff %}
<!-- begin app -->
<div class="app-container">
    <!-- begin app-main -->
    <div class="app-main" id="main">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% include 'base/message.html'%}
                </div>
            </div>
            <!-- begin row -->
            <div class="row">
                <div class="col-xxl-9 m-b-30">
                    <div class="card card-statistics dating-contant h-100 mb-0">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4 class="card-title">Liste des client</h4>
                                </div>
                                <div class="col-lg-6">
                                    <a type="button" href="{% url 'ajouter_clients' %}"  class="btn btn-primary"> Créer Client </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-2 scrollbar scroll_dark" style="height: 300px">
                            <div class="table-responsive">

                                <table id="datatable-buttons" class="table table-striped">

                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">Nom et Prenom</th>
                                            <th class="border-top-0">Adresse</th>
                                            <th class="border-top-0">ville</th>
                                            <th class="border-top-0">Contact</th>
                                            <th class="border-top-0">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody class="text-muted">
                                    {% for client in clients %}
                                        <tr>
                                            <td>{{client.id}}</td>

                                            <td>{{ client.nom_prenom}}</td>
                                            <td>{{ client.adresse}}</td>
                                            <td>{{ client.ville }}</td>
                                            <td>{{ client.contact}}</td>
                                            <td>
                                                <a type="button" class="btn btn-xm btn-primary" href="#"><i class="fa fa-pencil"></i></a>
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#suppModal{{client.id}}"><i class="fa fa-trash" ></i></button>
                                            </td>
                                        </tr>

                                        <div class="modal fade" id="suppModal{{client.id}}" tabindex="-1" role="dialog" aria-labelledby="verticalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="verticalCenterTitle"> Voulez-vous supprimer ce client <span class="">({{ client.nom_prenom }})</span> ??? </h5>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form method="post">
                                                            {%csrf_token%}
                                                            <input type="text" class="form-control" hidden value="{{ client.id }}" name="id_pour_supprimer" >
                                                            <button type="button" class="btn btn-dark" data-dismiss="modal">Annuler</button>
                                                            <button type="submit" name="suppboutton" class="btn btn-danger">Supprimer</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor%}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    {% include 'base/paginations.html' with page=clients %}
                </div>
            </div>
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end app-main -->
</div>
<!-- end app -->
{% else %}
    {% include 'base/message_page.html' %}
{% endif %}
{% endblock %}